/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@page {
  size: auto;
  margin: 25mm;
}

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  margin: 0;
}

div.sidebar, div.parts-needed {
  page-break-inside: avoid;
}

@import "common";

hgroup.logotype {
  h1 {
    font-size: 90pt;
  }
  h2 {
    font-size: 12pt;
  }
}
