/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$information-phone: "only screen and (max-device-width : 640px)";

body {
  font-family: Candara, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  background: #aaa;
  background-image: url("/images/BM-night.jpg");
  background-attachment: fixed;

  @media #{$information-phone} {
    font-size: 14px;

    background-image: linear-gradient(bottom, rgb(29,42,84) 50%, rgb(16,24,48) 86%);
    background-image: -o-linear-gradient(bottom, rgb(29,42,84) 50%, rgb(16,24,48) 86%);
    background-image: -moz-linear-gradient(bottom, rgb(29,42,84) 50%, rgb(16,24,48) 86%);
    background-image: -webkit-linear-gradient(bottom, rgb(29,42,84) 50%, rgb(16,24,48) 86%);
    background-image: -ms-linear-gradient(bottom, rgb(29,42,84) 50%, rgb(16,24,48) 86%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.5, rgb(29,42,84)),
    	color-stop(0.86, rgb(16,24,48))
    );
  }
}

article {
  background-color: white;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  box-shadow: 0 0 100px;

  @media #{$information-phone} {
    padding: 1em;
    min-width: inherit;
    width: inherit;
    margin: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
}

h1 {
  font-size: 200%;

  @media #{$information-phone} {
    font-size: 150%;
  }
}

h2 {
  font-size: 130%;
  font-style: italic;

  @media #{$information-phone} {
    font-size: 110%;
  }
}

h3 {
  font-size: 125%;
}

section {
  margin-top: 2em;
}

p + p {
  margin-top: 1em;
}

p {
  text-align: justify;
}

.multi-column {
  @media (min-width:800px) {
    -webkit-column-count: 2;
  }
}

section.required h3::after {
  content: "(required)";
  padding-left: 1em;
  color: red;
  font-size: 0.6em;
}

.volunteer-page {
  //background: url(http://cunnan.sca.org.au/upload/b/ba/Sheep.jpg);
}

div.form-container {
  padding: 15px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;

  width: 75%;
  border: 1px solid #0b61a4;
  margin: 0 auto;
}

input.q-other {
  width: 200px;
}

textarea {
  display: block;
  width: 90%;
  height: 8em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

textarea, input[type=text] {
  @media #{$information-phone} {
    width: 100%;
    font-size: 120%;
  }
}

input[type=text] {
  width: 40%;
}

.other textarea {
  height: 6em;
}

input[type=submit] {
  font-size: 110%;
  font-weight: bold;
}

section.condensed {
  text-align: right;
}

.condensed header {
  //position: absolute;
  //left: -200px;
  float: left;
}

section.required.condensed h3::after {
  content: "";
}

.condensed h3 {
  padding: 0;
  padding-right: 1em;
}

.condensed.required::after {
  content: "\000A(required)";
  white-space: pre-line;
  color: red;
  font-size: 0.8em;
}

.condensed input[type=text] {
  width: 60%;
}

.hide-when-requirements-are-unsatisfied {
  color: red;
  display: none;
  float: right;
}

.unsatisfied-requirements .hide-when-requirements-are-unsatisfied {
  display: block;
}

.button {
	display: inline-block;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:enabled {
  cursor: pointer;
}
.button:enabled:hover {
	text-decoration: none;
}
.button:enabled:active {
	position: relative;
	top: 1px;
}

.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:enabled:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:enabled:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.orange:disabled {
  opacity: .6;
}
