/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$information-phone: "only screen and (max-device-width : 640px)";

body {
  font-family: Candara, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font: 12px;
}

article {
  background: white;
  width: 90%;
  margin: auto;
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

h1 {
  font-size: 200%;
  margin-bottom: 1em;
}

h2 {
  font-size: 150%;
  margin-bottom: 1em;
}

h3 {
  font-size: 125%;
}

section + section {
  margin-top: 2em;
}

p + p {
  margin-top: 1em;
}

.multi-column {
  @media (min-width:800px) {
    -webkit-column-count: 2;
  }

  @media (min-width:1200px) {
    -webkit-column-count: 3;
  }
}

section.required h3::after {
  content: "(required)";
  padding-left: 1em;
  color: red;
  font-size: 0.6em;
}

.volunteer-page {
  background: url(http://cunnan.sca.org.au/upload/b/ba/Sheep.jpg);
}

div.form-container {
  padding: 15px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;

  width: 75%;
  border: 1px solid #0b61a4;
  margin: 0 auto;
}

input.q-other {
  width: 200px;
}

textarea {
  display: block;
  width: 90%;
  height: 4em;
}

textarea, input[type=text] {
  @media #{$information-phone} {
    width: 100%;
  }
}
