/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$information-phone: "only screen and (max-device-width : 640px)";

body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  background: #181818;
  text-rendering: optimizeLegibility;

  @media #{$information-phone} {
    font-size: 12px;

    background-image: linear-gradient(bottom, rgb(29, 42, 84) 50%, rgb(16, 24, 48) 86%);
    background-image: -o-linear-gradient(bottom, rgb(29, 42, 84) 50%, rgb(16, 24, 48) 86%);
    background-image: -moz-linear-gradient(bottom, rgb(29, 42, 84) 50%, rgb(16, 24, 48) 86%);
    background-image: -webkit-linear-gradient(bottom, rgb(29, 42, 84) 50%, rgb(16, 24, 48) 86%);
    background-image: -ms-linear-gradient(bottom, rgb(29, 42, 84) 50%, rgb(16, 24, 48) 86%);

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, rgb(29, 42, 84)), color-stop(0.86, rgb(16, 24, 48)));
  }
}

body.blueprint {
  div#page {
    header {
      font-family: "Open Sans";
      background-color: rgba(0, 0, 0, 0.6);
      margin: 0 auto 0 auto;
      padding: 0;
      border-bottom: 3px;
      border-image: url(/images/chalk-h.png) 100% 10 round;
    }

    max-width: 960px;
    min-width: 960px;
    background-image: url("/images/blueprint.gif");
    background-attachment: fixed;
    border: 1px solid #aaa;
    padding: 0;

    @media #{$information-phone} {
      margin: 0;
      width: auto;
      max-width: inherit;
      min-width: inherit;
    }
  }
}

div.content {
  padding: 50px 0px 20px 0px;
  position: relative;
  background: url(/images/cruising2014.jpg) 0 50px no-repeat;

  @media #{$information-phone} {
    background-size: auto;
    background-position-x: -200px;
  }
}

div.content-no-img {
  padding: 50px 0px 20px 0px;
  position: relative;

  @media #{$information-phone} {
    background-size: auto;
    background-position-x: -200px;
  }
}

div.polaroids {
  position: absolute;
  top: 20px;
  left: 600px;

  @media #{$information-phone} {
    position: inherit;
    top: inherit;
    left: inherit;
  }
}

div.background-gradient {
  position: absolute;
  margin-top: -50px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(bottom, rgba(0,0,0,.5) 56%, rgba(0,0,0,0) 78%);
  background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5) 56%, rgba(0,0,0,0) 78%);
  background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5) 56%, rgba(0,0,0,0) 78%);
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5) 56%, rgba(0,0,0,0) 78%);
  background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.5) 56%, rgba(0,0,0,0) 78%);

  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0, rgba(0,0,0,.5)),
      color-stop(1, rgba(0,0,0,0))
  );
}

div.news {
  h3 {
    margin-top: 0.75em;
    margin-bottom: 0.125em;
    font-family: "Special Elite";
    color: #333;
    text-shadow: 1px 1px rgba(16, 16, 16, .25);
  }
  p {
    font-family: "Special Elite";
    color: #333;
    text-shadow: 1px 1px rgba(16, 16, 16, .25);
  }

  p + p {
    margin-top: 0.5em;
  }

  position: relative;
  margin-top: -20px;
  margin-left: 30px;
  padding: 1em;
  width: 280px;
  min-height: 531px;
  background-color: rgba(255,255,255,.3);

  @media #{$information-phone} {
    margin: 1em;
    margin-top: -1em;
    width: 80%;
  }
}

h3.page-title {
  margin-top: 2rem;
  margin-bottom: -2rem;
  padding: 0;
  color: #e8e8e8;
  text-align: center;
  font-size: 3em;
}

article {
  background-color: rgba(255,255,255,.3);
  margin: 1.5em;
  padding: 1em;

  .big-image {
    max-width: 100%;
  }

  .fb-video {
    margin-top: 2rem;
  }

  h3 {
    padding-top: 2em;
  }
  
  p.survey-link {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

  a.survey-link {
    font-size: 2rem;
    color: #f8f8f8;
  }
}

.question {
  font-weight: bold;
  font-style: italic;
}

.tape {
  position: absolute;
  width: 161px;
  height: 115px;
  opacity: .6;
}

.top-left.tape {
  top: -3em;
  left: -3em;
  background: url("/images/tape.png") no-repeat;
}

.bottom-right.tape {
  bottom: -3em;
  right: -3em;
  background: url("/images/tape.png") bottom right no-repeat;
}

.volunteer-page {
  //background: url(http://cunnan.sca.org.au/upload/b/ba/Sheep.jpg);

  li {
    margin-left: .25em;
    list-style-type: none;
    display: inline-block;
    width: 100%;
  }

  li li {
    display: block;
  }
}

div#page {
  position: relative;
  background-color: white;
  max-width: 900px;
  min-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  box-shadow: 0 0 100px;

  @media #{$information-phone} {
    background-color: #c7e0ee;
    padding: 1em;
    min-width: inherit;
    width: inherit;
    margin: 0;
  }
}

.multi-column {
  @media (min-width: 800px) {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

section.required h3::after {
  content: "(required)";
  padding-left: 1em;
  color: red;
  font-size: 0.6em;
}

div.form-container {
  padding: 15px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;

  width: 75%;
  border: 1px solid #0b61a4;
  margin: 0 auto;
}

input.q-other {
  width: 200px;
}

textarea {
  display: block;
  width: 90%;
  height: 6em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

textarea, input[type=text] {
  @media #{$information-phone} {
    width: 100%;
    font-size: 120%;
  }
}

input[type=text] {
  width: 40%;
}

.other textarea {
  height: 4em;
}

input[type=submit] {
  font-size: 110%;
  font-weight: bold;
}

section.condensed {
  text-align: right;
}

.condensed header {
  //position: absolute;
  //left: -200px;
  float: left;
}

section.required.condensed h3::after {
  content: "";
}

.condensed h3 {
  padding: 0;
  padding-right: 1em;
}

.condensed.required::after {
  content: "\000A(required)";
  white-space: pre-line;
  color: red;
  font-size: 0.8em;
}

.condensed input[type=text] {
  width: 60%;
}

.show-when-requirements-are-satisfied {
  display: block;
  float: right;
}

.hide-when-requirements-are-satisfied {
  color: red;
  display: none;
  float: right;
}

.unsatisfied-requirements .hide-when-requirements-are-satisfied {
  display: block;
}

.unsatisfied-requirements .show-when-requirements-are-satisfied {
  display: none;
}

.button {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:enabled {
  cursor: pointer;
}

.button:enabled:hover {
  text-decoration: none;
}

.button:enabled:active {
  position: relative;
  top: 1px;
}

.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:enabled:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:enabled:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.orange:disabled {
  opacity: .6;
}

.fade-in {
  display: none;

  @media #{$information-phone} {
    display: block;
  }
}

article .polaroid {
  width: inherit;
  height: inherit;
  background: #eeeeee;
  position: inherit;

  max-width: 100%;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;

  img {
    width: inherit;
    height: inherit;
    max-width: 100%;
    margin: inherit;
  }
}

.polaroid {
  width: 276px;
  height: 282px;
  background-image: url("/images/polaroid.png");
  position: absolute;
  box-shadow: 10px 10px 5px rgba(0,0,0,.25);
  -webkit-box-shadow: 10px 10px 5px rgba(0,0,0,.25);


  @media #{$information-phone} {
    position: inherit;
    margin: 1em;
  }

  img {
    width: 251px;
    height: 206px;
    margin: 19px 0 0 12.5px;
  }

  p {
    text-align: center;
//    font-family: Georgia, serif;
    font-size: 150%;
    color: #2E2E2E;
    margin-top: 15px;
  }
}

.fb-like-box {
  margin-top: -15px;
}

#edition-picker {
  display: block !important;
  text-align: center;
  width: 100%;
  padding: .5em 0;
  border: 1px solid black;

  ul, li {
    display: inline;
    margin: 0;
  }

  li + li::before {
    content: " | ";
  }
}

@import "common";
