<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <style type="text/css">
    body {
      background: #ffffff;
      color: #000000;
      font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #background-image {
      z-index: -10000;
      position: fixed;
      opacity: .125;
    }

    table.assets {
      width: 100%;
      border-collapse: collapse;
    }

    table.assets td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .asset-map {
      width: 100px;
      height: 100px;
    }

    .hidden {
      display: none;
    }
  </style>

  <script>
    var mapsToInit = [];
    function initMap() {
      mapsToInit.forEach(function (mapInfo) {
        var mapDiv = document.getElementById(mapInfo.map);
        var map = new google.maps.Map(mapDiv, {
          center: {lat: mapInfo.latitude, lng: mapInfo.longitude},
          zoom: 12
        });
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSthjdwfUJh2BtrHrUSgMEaEH_P6-RJP8&callback=initMap"></script>

  <script type="application/javascript" src="/js/AssMan.js"></script>
</head>
<body>
<div id="alert-modal" class="hidden">
  <div id="alert" class="hidden"></div>
</div>

<header class="hidden">
  <span id="user-info">Hi <span id="user-name"></span>! <a id="user-not-me" href="#">[x]</a></span>
  | <span id="event-info">Doing: <span id="event-name"></span> <a id="event-change" href="#">[x]</a></span>

  <img id="network-activity" class="network-activity hidden" src="/images/assman/activity.gif"/>
  <img id="location-activity" class="location-activity hidden" src="/images/assman/location-activity.gif"/>
</header>

<img id="background-image" src="/images/logo/BAAAHS2015LogoWithBorder-640x544.png"/>

<div id="container"></div>
<script type="application/javascript">
  var container = document.getElementById('container');
  console.log(container);
  new AssMan(container).listAssets();
</script>
<!--<table class="assets">-->
  <!--<tr>-->
    <!--<td>Tag</td>-->
    <!--<td>Name</td>-->
    <!--<td>First Seen</td>-->
    <!--<td>Last Seen</td>-->
    <!--<td>Location</td>-->
  <!--</tr>-->

  <!--< % assets.each do |asset| %>-->
    <!--< % latest_scan = asset.scans.order("created_at DESC").first %>-->
    <!--<tr>-->
      <!--<td>< %= asset.tag %></td>-->
      <!--<td>< %= asset.name %></td>-->
      <!--<td>< %= asset.created_at %></td>-->
      <!--<td>< %= latest_scan ? latest_scan.created_at : ''%></td>-->
      <!--<td>-->
        <!--< % if latest_scan %>-->
            <!--<div id="map-scan-< %= latest_scan.id %>" class="asset-map"></div> < %= latest_scan.latitude %>-->
            <!--, < %= latest_scan.longitude %>-->
        <!--< % end %>-->
      <!--</td>-->
    <!--</tr>-->

      <!--< % if latest_scan %>-->
          <!--<script>-->
<!--//            mapsToInit.push({-->
<!--//              map: 'map-scan-< %= latest_scan.id %>',-->
<!--//              latitude: < %= latest_scan.latitude %>,-->
              <!--longitude: < %= latest_scan.longitude %>-->
<!--//            });-->
          <!--</script>-->
      <!--< % end %>-->
  <!--< % end %>-->
<!--</table>-->
</body>
</html>
