/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@page {
  size: auto;
  margin: 25mm;
}

/* line 12, ../../sass/print.scss */
body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  margin: 0;
}

/* line 20, ../../sass/print.scss */
div.sidebar, div.parts-needed {
  page-break-inside: avoid;
}

@page {
  size: auto;
  margin: 25mm;
  @top-center {
    content: element(pageHeader);
}
}

/* line 18, ../../sass/common.scss */
#page-header {
  display: inherit;
  position: running(page-header);
}

/* line 23, ../../sass/common.scss */
#page-footer {
  display: inherit;
  position: running(page-footer);
}

/* line 28, ../../sass/common.scss */
a:link, a:visited {
  color: #333;
  text-shadow: 1px 1px rgba(16, 16, 16, 0.25);
}

/* line 33, ../../sass/common.scss */
a:hover {
  color: #eee;
}

/* line 37, ../../sass/common.scss */
hgroup.logotype {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #eee;
}
@media only screen and (max-device-width: 640px) {
  /* line 37, ../../sass/common.scss */
  hgroup.logotype {
    padding: 0;
  }
}
/* line 47, ../../sass/common.scss */
hgroup.logotype h1 {
  font-family: "Open Sans Condensed", "Futura Condensed Medium", "Futura Condensed", Futura, sans-serif;
  font-size: 108pt;
  font-style: normal;
  line-height: 80%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 3px 2px #000;
}
/* line 57, ../../sass/common.scss */
hgroup.logotype h1 .a {
  letter-spacing: 0.1em;
}
@media only screen and (max-device-width: 640px) {
  /* line 47, ../../sass/common.scss */
  hgroup.logotype h1 {
    font-size: 48pt;
  }
}
/* line 66, ../../sass/common.scss */
hgroup.logotype h2 {
  font-family: "Open Sans", "Futura Medium", Futura, sans-serif;
  top: -10px;
  font-size: 14pt;
  font-style: normal;
  font-weight: lighter;
  padding: 0;
  margin: auto;
  text-shadow: 3px 2px #000;
}
@media only screen and (max-device-width: 640px) {
  /* line 66, ../../sass/common.scss */
  hgroup.logotype h2 {
    font-size: 9pt;
  }
}
/* line 81, ../../sass/common.scss */
hgroup.logotype a, hgroup.logotype a:hover, hgroup.logotype a:active, hgroup.logotype a:visited {
  text-decoration: none;
  color: #eee;
}
/* line 86, ../../sass/common.scss */
hgroup.logotype img.logo {
  float: left;
}
@media only screen and (max-device-width: 640px) {
  /* line 86, ../../sass/common.scss */
  hgroup.logotype img.logo {
    width: 25%;
    height: 25%;
  }
}

/* line 96, ../../sass/common.scss */
i {
  font-style: italic;
}

/* line 100, ../../sass/common.scss */
b {
  font-weight: 900;
}

/* line 104, ../../sass/common.scss */
header h1, header h2 {
  text-align: center;
}

/* line 108, ../../sass/common.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
}

/* line 115, ../../sass/common.scss */
h1 {
  font-size: 200%;
}
@media only screen and (max-device-width: 640px) {
  /* line 115, ../../sass/common.scss */
  h1 {
    font-size: 150%;
  }
}

/* line 123, ../../sass/common.scss */
h2 {
  font-size: 130%;
  font-style: italic;
}
@media only screen and (max-device-width: 640px) {
  /* line 123, ../../sass/common.scss */
  h2 {
    font-size: 110%;
  }
}

/* line 132, ../../sass/common.scss */
h3 {
  font-size: 125%;
}

/* line 136, ../../sass/common.scss */
section {
  margin-top: 2em;
}

/* line 140, ../../sass/common.scss */
p + p, ul + p, ol + p {
  margin-top: 1em;
}

/* line 144, ../../sass/common.scss */
p {
  text-align: justify;
}

/* line 148, ../../sass/common.scss */
ol {
  padding: 1em 0 1em 2em;
  list-style: decimal;
}

/* line 153, ../../sass/common.scss */
ul li {
  list-style-type: circle;
  margin-left: 1em;
}

/* line 158, ../../sass/common.scss */
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}

/* line 164, ../../sass/common.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: 0;
}

/* line 170, ../../sass/common.scss */
section {
  position: relative;
  clear: both;
}

/* line 175, ../../sass/common.scss */
.hidden {
  display: none;
}

/* line 179, ../../sass/common.scss */
#contents > section:not(:first-child) {
  border-top: 1px solid black;
  page-break-before: always;
}

/* line 191, ../../sass/common.scss */
.crew-marker {
  border-left-width: 1em !important;
  border-left-style: solid !important;
}

/* line 196, ../../sass/common.scss */
section.setup-lead, .crew-marker.setup-lead {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: grey;
  padding-left: 1em;
}

/* line 200, ../../sass/common.scss */
section.party-crew, .crew-marker.party-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: red;
  padding-left: 1em;
}

/* line 204, ../../sass/common.scss */
section.business-crew, .crew-marker.business-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: green;
  padding-left: 1em;
}

/* line 208, ../../sass/common.scss */
section.head-and-hind-crew, .crew-marker.head-and-hind-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: blue;
  padding-left: 1em;
}

/* line 212, ../../sass/common.scss */
section.tech-crew, .crew-marker.tech-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: orange;
  padding-left: 1em;
}

/* line 216, ../../sass/common.scss */
.parts-needed {
  float: right;
  top: 0;
  right: 0;
  width: 25%;
  background-color: #eee;
  padding: .25em 1em .5em 1em;
  margin: 0 0 .5em 1em;
  font-size: .9em;
  border: 1px solid black;
}

/* line 228, ../../sass/common.scss */
.sidebar {
  float: right;
  width: 40%;
  padding-left: 1em;
}
/* line 233, ../../sass/common.scss */
.sidebar img {
  width: 100%;
}

/* line 238, ../../sass/common.scss */
#edition-picker {
  display: none;
}

/* line 27, ../../sass/print.scss */
hgroup.logotype h1 {
  font-size: 90pt;
}
/* line 30, ../../sass/print.scss */
hgroup.logotype h2 {
  font-size: 12pt;
}
