/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../sass/screen.scss */
body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  background: #181818;
  text-rendering: optimizeLegibility;
}
@media only screen and (max-device-width: 640px) {
  /* line 10, ../../sass/screen.scss */
  body {
    font-size: 14px;
    background-image: linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -o-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -moz-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -webkit-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -ms-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #1d2a54), color-stop(0.86, #101830));
  }
}

/* line 30, ../../sass/screen.scss */
a:link, a:visited {
  color: #d7d7d7;
  text-shadow: 1px 1px #555;
}

/* line 35, ../../sass/screen.scss */
a:hover {
  color: #eee;
}

/* line 40, ../../sass/screen.scss */
body.blueprint div#page {
  max-width: 960px;
  min-width: 960px;
  background-image: url("/images/blueprint.gif");
  background-attachment: fixed;
  border: 1px solid #aaa;
  padding: 0;
}
/* line 41, ../../sass/screen.scss */
body.blueprint div#page header {
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto 0 auto;
  padding: 0;
  border-bottom: 3px;
  border-image: url(/images/chalk-h.png) 100% 10 round;
}
@media only screen and (max-device-width: 640px) {
  /* line 40, ../../sass/screen.scss */
  body.blueprint div#page {
    margin: 0;
    width: auto;
    max-width: inherit;
    min-width: inherit;
  }
}

/* line 66, ../../sass/screen.scss */
div.content {
  padding: 50px 0px 20px 0px;
  position: relative;
  background: url(/images/schematic.png) 0 50px no-repeat;
}
@media only screen and (max-device-width: 640px) {
  /* line 66, ../../sass/screen.scss */
  div.content {
    background-size: contain;
  }
}

/* line 76, ../../sass/screen.scss */
div.polaroids {
  position: absolute;
  top: 20px;
  left: 600px;
}
@media only screen and (max-device-width: 640px) {
  /* line 76, ../../sass/screen.scss */
  div.polaroids {
    position: inherit;
    top: inherit;
    left: inherit;
  }
}

/* line 88, ../../sass/screen.scss */
div.background-gradient {
  position: absolute;
  margin-top: -50px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), color-stop(1, rgba(0, 0, 0, 0)));
}

/* line 108, ../../sass/screen.scss */
div.news {
  position: relative;
  margin-top: -20px;
  margin-left: 30px;
  padding: 1em;
  width: 280px;
  min-height: 531px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 109, ../../sass/screen.scss */
div.news h3 {
  margin-top: 1em;
  margin-bottom: 0.125em;
  font-family: "Special Elite";
  color: #333;
  text-shadow: 1px 1px rgba(16, 16, 16, 0.25);
}
/* line 116, ../../sass/screen.scss */
div.news p {
  font-family: "Special Elite";
  color: #333;
  text-shadow: 1px 1px rgba(16, 16, 16, 0.25);
}
/* line 122, ../../sass/screen.scss */
div.news p + p {
  margin-top: 0.5em;
}
@media only screen and (max-device-width: 640px) {
  /* line 108, ../../sass/screen.scss */
  div.news {
    margin: 1em;
    margin-top: -1em;
    width: 80%;
  }
}

/* line 141, ../../sass/screen.scss */
article {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1.5em;
  padding: 1em;
}

/* line 147, ../../sass/screen.scss */
.question {
  font-weight: bold;
  font-style: italic;
}

/* line 152, ../../sass/screen.scss */
.tape {
  position: absolute;
  width: 161px;
  height: 115px;
  opacity: .6;
}

/* line 159, ../../sass/screen.scss */
.top-left.tape {
  top: -3em;
  left: -3em;
  background: url("/images/tape.png") no-repeat;
}

/* line 165, ../../sass/screen.scss */
.bottom-right.tape {
  bottom: -3em;
  right: -3em;
  background: url("/images/tape.png") bottom right no-repeat;
}

/* line 175, ../../sass/screen.scss */
hgroup.logotype {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #eee;
}
/* line 180, ../../sass/screen.scss */
hgroup.logotype h1 {
  font-family: "Open Sans Condensed", "Futura Condensed Medium", "Futura Condensed", Futura;
  font-size: 96pt;
  font-style: normal;
  line-height: 80%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 3px 2px #000;
}
/* line 190, ../../sass/screen.scss */
hgroup.logotype h1 .a {
  letter-spacing: 0.1em;
}
@media only screen and (max-device-width: 640px) {
  /* line 180, ../../sass/screen.scss */
  hgroup.logotype h1 {
    font-size: 60pt;
  }
}
/* line 199, ../../sass/screen.scss */
hgroup.logotype h2 {
  font-family: "Open Sans", "Futura Medium", Futura;
  top: -10px;
  font-size: 14pt;
  font-style: normal;
  font-weight: lighter;
  padding: 0;
  margin: auto;
  text-shadow: 3px 2px #000;
}
@media only screen and (max-device-width: 640px) {
  /* line 199, ../../sass/screen.scss */
  hgroup.logotype h2 {
    font-size: 9pt;
  }
}
/* line 214, ../../sass/screen.scss */
hgroup.logotype a, hgroup.logotype a:hover, hgroup.logotype a:active, hgroup.logotype a:visited {
  text-decoration: none;
  color: #eee;
}

/* line 220, ../../sass/screen.scss */
i {
  font-style: italic;
}

/* line 224, ../../sass/screen.scss */
b {
  font-weight: 900;
}

/* line 228, ../../sass/screen.scss */
div#page {
  background-color: white;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  box-shadow: 0 0 100px;
}
@media only screen and (max-device-width: 640px) {
  /* line 228, ../../sass/screen.scss */
  div#page {
    padding: 1em;
    min-width: inherit;
    width: inherit;
    margin: 1em;
  }
}

/* line 246, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
}

/* line 253, ../../sass/screen.scss */
h1 {
  font-size: 200%;
}
@media only screen and (max-device-width: 640px) {
  /* line 253, ../../sass/screen.scss */
  h1 {
    font-size: 150%;
  }
}

/* line 261, ../../sass/screen.scss */
h2 {
  font-size: 130%;
  font-style: italic;
}
@media only screen and (max-device-width: 640px) {
  /* line 261, ../../sass/screen.scss */
  h2 {
    font-size: 110%;
  }
}

/* line 270, ../../sass/screen.scss */
h3 {
  font-size: 125%;
}

/* line 274, ../../sass/screen.scss */
section {
  margin-top: 2em;
}

/* line 278, ../../sass/screen.scss */
p + p {
  margin-top: 1em;
}

/* line 282, ../../sass/screen.scss */
p {
  text-align: justify;
}

@media (min-width: 800px) {
  /* line 286, ../../sass/screen.scss */
  .multi-column {
    -webkit-column-count: 2;
  }
}

/* line 292, ../../sass/screen.scss */
section.required h3::after {
  content: "(required)";
  padding-left: 1em;
  color: red;
  font-size: 0.6em;
}

/* line 299, ../../sass/screen.scss */
div.form-container {
  padding: 15px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
  width: 75%;
  border: 1px solid #0b61a4;
  margin: 0 auto;
}

/* line 310, ../../sass/screen.scss */
input.q-other {
  width: 200px;
}

/* line 314, ../../sass/screen.scss */
textarea {
  display: block;
  width: 90%;
  height: 6em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-device-width: 640px) {
  /* line 323, ../../sass/screen.scss */
  textarea, input[type=text] {
    width: 100%;
    font-size: 120%;
  }
}

/* line 330, ../../sass/screen.scss */
input[type=text] {
  width: 40%;
}

/* line 334, ../../sass/screen.scss */
.other textarea {
  height: 4em;
}

/* line 338, ../../sass/screen.scss */
input[type=submit] {
  font-size: 110%;
  font-weight: bold;
}

/* line 343, ../../sass/screen.scss */
section.condensed {
  text-align: right;
}

/* line 347, ../../sass/screen.scss */
.condensed header {
  float: left;
}

/* line 353, ../../sass/screen.scss */
section.required.condensed h3::after {
  content: "";
}

/* line 357, ../../sass/screen.scss */
.condensed h3 {
  padding: 0;
  padding-right: 1em;
}

/* line 362, ../../sass/screen.scss */
.condensed.required::after {
  content: "\000A(required)";
  white-space: pre-line;
  color: red;
  font-size: 0.8em;
}

/* line 369, ../../sass/screen.scss */
.condensed input[type=text] {
  width: 60%;
}

/* line 373, ../../sass/screen.scss */
.show-when-requirements-are-satisfied {
  display: block;
  float: right;
}

/* line 378, ../../sass/screen.scss */
.hide-when-requirements-are-satisfied {
  color: red;
  display: none;
  float: right;
}

/* line 384, ../../sass/screen.scss */
.unsatisfied-requirements .hide-when-requirements-are-satisfied {
  display: block;
}

/* line 388, ../../sass/screen.scss */
.unsatisfied-requirements .show-when-requirements-are-satisfied {
  display: none;
}

/* line 392, ../../sass/screen.scss */
.button {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 407, ../../sass/screen.scss */
.button:enabled {
  cursor: pointer;
}

/* line 411, ../../sass/screen.scss */
.button:enabled:hover {
  text-decoration: none;
}

/* line 415, ../../sass/screen.scss */
.button:enabled:active {
  position: relative;
  top: 1px;
}

/* line 420, ../../sass/screen.scss */
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

/* line 429, ../../sass/screen.scss */
.orange:enabled:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* line 436, ../../sass/screen.scss */
.orange:enabled:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* line 443, ../../sass/screen.scss */
.orange:disabled {
  opacity: .6;
}

/* line 447, ../../sass/screen.scss */
.fade-in {
  display: none;
}
@media only screen and (max-device-width: 640px) {
  /* line 447, ../../sass/screen.scss */
  .fade-in {
    display: block;
  }
}

/* line 455, ../../sass/screen.scss */
.polaroid {
  width: 276px;
  height: 282px;
  background-image: url("/images/polaroid.png");
  position: absolute;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-device-width: 640px) {
  /* line 455, ../../sass/screen.scss */
  .polaroid {
    position: inherit;
    margin: 1em;
  }
}

/* line 470, ../../sass/screen.scss */
.polaroid img {
  width: 251px;
  height: 206px;
  margin: 19px 0 0 12.5px;
}

/* line 476, ../../sass/screen.scss */
.polaroid p {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 20px;
  color: #2E2E2E;
  margin-top: 15px;
}
