/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p362/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../sass/screen.scss */
body {
  font-family: Candara, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  background: #aaa;
  background-image: url("/images/BM-night.jpg");
  background-attachment: fixed;
}
@media only screen and (max-device-width: 640px) {
  /* line 10, ../../sass/screen.scss */
  body {
    font-size: 14px;
    background-image: linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -o-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -moz-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -webkit-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -ms-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #1d2a54), color-stop(0.86, #101830));
  }
}

/* line 37, ../../sass/screen.scss */
article {
  background-color: white;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  box-shadow: 0 0 100px;
}
@media only screen and (max-device-width: 640px) {
  /* line 37, ../../sass/screen.scss */
  article {
    padding: 1em;
    min-width: inherit;
    width: inherit;
    margin: 1em;
  }
}

/* line 55, ../../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
}

/* line 62, ../../sass/screen.scss */
h1 {
  font-size: 200%;
}
@media only screen and (max-device-width: 640px) {
  /* line 62, ../../sass/screen.scss */
  h1 {
    font-size: 150%;
  }
}

/* line 70, ../../sass/screen.scss */
h2 {
  font-size: 130%;
  font-style: italic;
}
@media only screen and (max-device-width: 640px) {
  /* line 70, ../../sass/screen.scss */
  h2 {
    font-size: 110%;
  }
}

/* line 79, ../../sass/screen.scss */
h3 {
  font-size: 125%;
}

/* line 83, ../../sass/screen.scss */
section {
  margin-top: 2em;
}

/* line 87, ../../sass/screen.scss */
p + p {
  margin-top: 1em;
}

/* line 91, ../../sass/screen.scss */
p {
  text-align: justify;
}

@media (min-width: 800px) {
  /* line 95, ../../sass/screen.scss */
  .multi-column {
    -webkit-column-count: 2;
  }
}

/* line 101, ../../sass/screen.scss */
section.required h3::after {
  content: "(required)";
  padding-left: 1em;
  color: red;
  font-size: 0.6em;
}

/* line 108, ../../sass/screen.scss */
section.condensed {
  position: relative;
  left: 35%;
  width: 65%;
}

/* line 114, ../../sass/screen.scss */
.condensed header {
  position: absolute;
  left: -200px;
  width: 200px;
  text-align: right;
}

/* line 121, ../../sass/screen.scss */
section.required.condensed h3::after {
  content: "";
}

/* line 125, ../../sass/screen.scss */
.condensed h3 {
  padding: 0;
}

/* line 129, ../../sass/screen.scss */
.condensed.required::after {
  content: "(required)";
  color: red;
  font-size: 0.8em;
}

/* line 139, ../../sass/screen.scss */
div.form-container {
  padding: 15px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
  width: 75%;
  border: 1px solid #0b61a4;
  margin: 0 auto;
}

/* line 150, ../../sass/screen.scss */
input.q-other {
  width: 200px;
}

/* line 154, ../../sass/screen.scss */
textarea {
  display: block;
  width: 90%;
  height: 8em;
  margin-top: 1em;
}

@media only screen and (max-device-width: 640px) {
  /* line 161, ../../sass/screen.scss */
  textarea, input[type=text] {
    width: 100%;
    font-size: 120%;
  }
}

/* line 168, ../../sass/screen.scss */
input[type=text] {
  width: 40%;
}

/* line 172, ../../sass/screen.scss */
.condensed input[type=text] {
  width: 70%;
}

/* line 176, ../../sass/screen.scss */
input[type=submit] {
  font-size: 150%;
}
