/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.5@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../../sass/screen.scss */
body {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5em;
  font-size: 15px;
  background: #181818;
  text-rendering: optimizeLegibility;
}
@media only screen and (max-device-width: 640px) {
  /* line 10, ../../sass/screen.scss */
  body {
    font-size: 12px;
    background-image: linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -o-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -moz-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -webkit-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -ms-linear-gradient(bottom, #1d2a54 50%, #101830 86%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #1d2a54), color-stop(0.86, #101830));
  }
}

/* line 31, ../../sass/screen.scss */
body.blueprint div#page {
  max-width: 960px;
  min-width: 960px;
  background-image: url("/images/blueprint.gif");
  background-attachment: fixed;
  border: 1px solid #aaa;
  padding: 0;
}
/* line 32, ../../sass/screen.scss */
body.blueprint div#page header {
  font-family: "Open Sans";
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto 0 auto;
  padding: 0;
  border-bottom: 3px;
  border-image: url(/images/chalk-h.png) 100% 10 round;
}
@media only screen and (max-device-width: 640px) {
  /* line 31, ../../sass/screen.scss */
  body.blueprint div#page {
    margin: 0;
    width: auto;
    max-width: inherit;
    min-width: inherit;
  }
}

/* line 57, ../../sass/screen.scss */
div.content {
  padding: 50px 0px 20px 0px;
  position: relative;
  background: url(/images/cruising2014.jpg) 0 50px no-repeat;
}
@media only screen and (max-device-width: 640px) {
  /* line 57, ../../sass/screen.scss */
  div.content {
    background-size: auto;
    background-position-x: -200px;
  }
}

/* line 68, ../../sass/screen.scss */
div.content-no-img {
  padding: 50px 0px 20px 0px;
  position: relative;
}
@media only screen and (max-device-width: 640px) {
  /* line 68, ../../sass/screen.scss */
  div.content-no-img {
    background-size: auto;
    background-position-x: -200px;
  }
}

/* line 78, ../../sass/screen.scss */
div.polaroids {
  position: absolute;
  top: 20px;
  left: 600px;
}
@media only screen and (max-device-width: 640px) {
  /* line 78, ../../sass/screen.scss */
  div.polaroids {
    position: inherit;
    top: inherit;
    left: inherit;
  }
}

/* line 90, ../../sass/screen.scss */
div.background-gradient {
  position: absolute;
  margin-top: -50px;
  height: 80px;
  width: 100%;
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 56%, rgba(0, 0, 0, 0) 78%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.5)), color-stop(1, rgba(0, 0, 0, 0)));
}

/* line 110, ../../sass/screen.scss */
div.news {
  position: relative;
  margin-top: -20px;
  margin-left: 30px;
  padding: 1em;
  width: 280px;
  min-height: 531px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 111, ../../sass/screen.scss */
div.news h3 {
  margin-top: 0.75em;
  margin-bottom: 0.125em;
  font-family: "Special Elite";
  color: #333;
  text-shadow: 1px 1px rgba(16, 16, 16, 0.25);
}
/* line 118, ../../sass/screen.scss */
div.news p {
  font-family: "Special Elite";
  color: #333;
  text-shadow: 1px 1px rgba(16, 16, 16, 0.25);
}
/* line 124, ../../sass/screen.scss */
div.news p + p {
  margin-top: 0.5em;
}
@media only screen and (max-device-width: 640px) {
  /* line 110, ../../sass/screen.scss */
  div.news {
    margin: 1em;
    margin-top: -1em;
    width: 80%;
  }
}

/* line 143, ../../sass/screen.scss */
h3.page-title {
  margin-top: 2rem;
  margin-bottom: -2rem;
  padding: 0;
  color: #e8e8e8;
  text-align: center;
  font-size: 3em;
}

/* line 152, ../../sass/screen.scss */
article {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1.5em;
  padding: 1em;
}
/* line 157, ../../sass/screen.scss */
article .big-image {
  max-width: 100%;
}
/* line 161, ../../sass/screen.scss */
article .fb-video {
  margin-top: 2rem;
}
/* line 165, ../../sass/screen.scss */
article h3 {
  padding-top: 2em;
}
/* line 169, ../../sass/screen.scss */
article p.survey-link {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
/* line 175, ../../sass/screen.scss */
article a.survey-link {
  font-size: 2rem;
  color: #f8f8f8;
}

/* line 181, ../../sass/screen.scss */
.question {
  font-weight: bold;
  font-style: italic;
}

/* line 186, ../../sass/screen.scss */
.tape {
  position: absolute;
  width: 161px;
  height: 115px;
  opacity: .6;
}

/* line 193, ../../sass/screen.scss */
.top-left.tape {
  top: -3em;
  left: -3em;
  background: url("/images/tape.png") no-repeat;
}

/* line 199, ../../sass/screen.scss */
.bottom-right.tape {
  bottom: -3em;
  right: -3em;
  background: url("/images/tape.png") bottom right no-repeat;
}

/* line 208, ../../sass/screen.scss */
.volunteer-page li {
  margin-left: .25em;
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
/* line 215, ../../sass/screen.scss */
.volunteer-page li li {
  display: block;
}

/* line 220, ../../sass/screen.scss */
div#page {
  position: relative;
  background-color: white;
  max-width: 900px;
  min-width: 300px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 2em;
  box-shadow: 0 0 100px;
}
@media only screen and (max-device-width: 640px) {
  /* line 220, ../../sass/screen.scss */
  div#page {
    background-color: #c7e0ee;
    padding: 1em;
    min-width: inherit;
    width: inherit;
    margin: 0;
  }
}

@media (min-width: 800px) {
  /* line 240, ../../sass/screen.scss */
  .multi-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

/* line 248, ../../sass/screen.scss */
section.required h3::after {
  content: "(required)";
  padding-left: 1em;
  color: red;
  font-size: 0.6em;
}

/* line 255, ../../sass/screen.scss */
div.form-container {
  padding: 15px;
  background-color: #f7f7f7;
  border-style: solid;
  border-width: 1px;
  width: 75%;
  border: 1px solid #0b61a4;
  margin: 0 auto;
}

/* line 266, ../../sass/screen.scss */
input.q-other {
  width: 200px;
}

/* line 270, ../../sass/screen.scss */
textarea {
  display: block;
  width: 90%;
  height: 6em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-device-width: 640px) {
  /* line 279, ../../sass/screen.scss */
  textarea, input[type=text] {
    width: 100%;
    font-size: 120%;
  }
}

/* line 286, ../../sass/screen.scss */
input[type=text] {
  width: 40%;
}

/* line 290, ../../sass/screen.scss */
.other textarea {
  height: 4em;
}

/* line 294, ../../sass/screen.scss */
input[type=submit] {
  font-size: 110%;
  font-weight: bold;
}

/* line 299, ../../sass/screen.scss */
section.condensed {
  text-align: right;
}

/* line 303, ../../sass/screen.scss */
.condensed header {
  float: left;
}

/* line 309, ../../sass/screen.scss */
section.required.condensed h3::after {
  content: "";
}

/* line 313, ../../sass/screen.scss */
.condensed h3 {
  padding: 0;
  padding-right: 1em;
}

/* line 318, ../../sass/screen.scss */
.condensed.required::after {
  content: "\000A(required)";
  white-space: pre-line;
  color: red;
  font-size: 0.8em;
}

/* line 325, ../../sass/screen.scss */
.condensed input[type=text] {
  width: 60%;
}

/* line 329, ../../sass/screen.scss */
.show-when-requirements-are-satisfied {
  display: block;
  float: right;
}

/* line 334, ../../sass/screen.scss */
.hide-when-requirements-are-satisfied {
  color: red;
  display: none;
  float: right;
}

/* line 340, ../../sass/screen.scss */
.unsatisfied-requirements .hide-when-requirements-are-satisfied {
  display: block;
}

/* line 344, ../../sass/screen.scss */
.unsatisfied-requirements .show-when-requirements-are-satisfied {
  display: none;
}

/* line 348, ../../sass/screen.scss */
.button {
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 363, ../../sass/screen.scss */
.button:enabled {
  cursor: pointer;
}

/* line 367, ../../sass/screen.scss */
.button:enabled:hover {
  text-decoration: none;
}

/* line 371, ../../sass/screen.scss */
.button:enabled:active {
  position: relative;
  top: 1px;
}

/* line 376, ../../sass/screen.scss */
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

/* line 385, ../../sass/screen.scss */
.orange:enabled:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

/* line 392, ../../sass/screen.scss */
.orange:enabled:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* line 399, ../../sass/screen.scss */
.orange:disabled {
  opacity: .6;
}

/* line 403, ../../sass/screen.scss */
.fade-in {
  display: none;
}
@media only screen and (max-device-width: 640px) {
  /* line 403, ../../sass/screen.scss */
  .fade-in {
    display: block;
  }
}

/* line 411, ../../sass/screen.scss */
article .polaroid {
  width: inherit;
  height: inherit;
  background: #eeeeee;
  position: inherit;
  max-width: 100%;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 422, ../../sass/screen.scss */
article .polaroid img {
  width: inherit;
  height: inherit;
  max-width: 100%;
  margin: inherit;
}

/* line 430, ../../sass/screen.scss */
.polaroid {
  width: 276px;
  height: 282px;
  background-image: url("/images/polaroid.png");
  position: absolute;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-device-width: 640px) {
  /* line 430, ../../sass/screen.scss */
  .polaroid {
    position: inherit;
    margin: 1em;
  }
}
/* line 444, ../../sass/screen.scss */
.polaroid img {
  width: 251px;
  height: 206px;
  margin: 19px 0 0 12.5px;
}
/* line 450, ../../sass/screen.scss */
.polaroid p {
  text-align: center;
  font-size: 150%;
  color: #2E2E2E;
  margin-top: 15px;
}

/* line 459, ../../sass/screen.scss */
.fb-like-box {
  margin-top: -15px;
}

/* line 463, ../../sass/screen.scss */
#edition-picker {
  display: block !important;
  text-align: center;
  width: 100%;
  padding: .5em 0;
  border: 1px solid black;
}
/* line 470, ../../sass/screen.scss */
#edition-picker ul, #edition-picker li {
  display: inline;
  margin: 0;
}
/* line 475, ../../sass/screen.scss */
#edition-picker li + li::before {
  content: " | ";
}

@page {
  size: auto;
  margin: 25mm;
  @top-center {
    content: element(pageHeader);
}
}

/* line 18, ../../sass/common.scss */
#page-header {
  display: inherit;
  position: running(page-header);
}

/* line 23, ../../sass/common.scss */
#page-footer {
  display: inherit;
  position: running(page-footer);
}

/* line 28, ../../sass/common.scss */
a:link, a:visited {
  color: #333;
  text-shadow: 1px 1px rgba(16, 16, 16, 0.25);
}

/* line 33, ../../sass/common.scss */
a:hover {
  color: #eee;
}

/* line 37, ../../sass/common.scss */
hgroup.logotype {
  position: relative;
  padding: 20px;
  text-align: center;
  color: #eee;
}
@media only screen and (max-device-width: 640px) {
  /* line 37, ../../sass/common.scss */
  hgroup.logotype {
    padding: 0;
  }
}
/* line 47, ../../sass/common.scss */
hgroup.logotype h1 {
  font-family: "Open Sans Condensed", "Futura Condensed Medium", "Futura Condensed", Futura, sans-serif;
  font-size: 108pt;
  font-style: normal;
  line-height: 80%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 3px 2px #000;
}
/* line 57, ../../sass/common.scss */
hgroup.logotype h1 .a {
  letter-spacing: 0.1em;
}
@media only screen and (max-device-width: 640px) {
  /* line 47, ../../sass/common.scss */
  hgroup.logotype h1 {
    font-size: 48pt;
  }
}
/* line 66, ../../sass/common.scss */
hgroup.logotype h2 {
  font-family: "Open Sans", "Futura Medium", Futura, sans-serif;
  top: -10px;
  font-size: 14pt;
  font-style: normal;
  font-weight: lighter;
  padding: 0;
  margin: auto;
  text-shadow: 3px 2px #000;
}
@media only screen and (max-device-width: 640px) {
  /* line 66, ../../sass/common.scss */
  hgroup.logotype h2 {
    font-size: 9pt;
  }
}
/* line 81, ../../sass/common.scss */
hgroup.logotype a, hgroup.logotype a:hover, hgroup.logotype a:active, hgroup.logotype a:visited {
  text-decoration: none;
  color: #eee;
}
/* line 86, ../../sass/common.scss */
hgroup.logotype img.logo {
  float: left;
}
@media only screen and (max-device-width: 640px) {
  /* line 86, ../../sass/common.scss */
  hgroup.logotype img.logo {
    width: 25%;
    height: 25%;
  }
}

/* line 96, ../../sass/common.scss */
i {
  font-style: italic;
}

/* line 100, ../../sass/common.scss */
b {
  font-weight: 900;
}

/* line 104, ../../sass/common.scss */
header h1, header h2 {
  text-align: center;
}

/* line 108, ../../sass/common.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  line-height: 1.25em;
}

/* line 115, ../../sass/common.scss */
h1 {
  font-size: 200%;
}
@media only screen and (max-device-width: 640px) {
  /* line 115, ../../sass/common.scss */
  h1 {
    font-size: 150%;
  }
}

/* line 123, ../../sass/common.scss */
h2 {
  font-size: 130%;
  font-style: italic;
}
@media only screen and (max-device-width: 640px) {
  /* line 123, ../../sass/common.scss */
  h2 {
    font-size: 110%;
  }
}

/* line 132, ../../sass/common.scss */
h3 {
  font-size: 125%;
}

/* line 136, ../../sass/common.scss */
section {
  margin-top: 2em;
}

/* line 140, ../../sass/common.scss */
p + p, ul + p, ol + p {
  margin-top: 1em;
}

/* line 144, ../../sass/common.scss */
p {
  text-align: justify;
}

/* line 148, ../../sass/common.scss */
ol {
  padding: 1em 0 1em 2em;
  list-style: decimal;
}

/* line 153, ../../sass/common.scss */
ul li {
  list-style-type: circle;
  margin-left: 1em;
}

/* line 158, ../../sass/common.scss */
sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0;
}

/* line 164, ../../sass/common.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: 0;
}

/* line 170, ../../sass/common.scss */
section {
  position: relative;
  clear: both;
}

/* line 175, ../../sass/common.scss */
.hidden {
  display: none;
}

/* line 179, ../../sass/common.scss */
#contents > section:not(:first-child) {
  border-top: 1px solid black;
  page-break-before: always;
}

/* line 191, ../../sass/common.scss */
.crew-marker {
  border-left-width: 1em !important;
  border-left-style: solid !important;
}

/* line 196, ../../sass/common.scss */
section.setup-lead, .crew-marker.setup-lead {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: grey;
  padding-left: 1em;
}

/* line 200, ../../sass/common.scss */
section.party-crew, .crew-marker.party-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: red;
  padding-left: 1em;
}

/* line 204, ../../sass/common.scss */
section.business-crew, .crew-marker.business-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: green;
  padding-left: 1em;
}

/* line 208, ../../sass/common.scss */
section.head-and-hind-crew, .crew-marker.head-and-hind-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: blue;
  padding-left: 1em;
}

/* line 212, ../../sass/common.scss */
section.tech-crew, .crew-marker.tech-crew {
  border-left-width: .25em;
  border-left-style: dashed;
  border-left-color: orange;
  padding-left: 1em;
}

/* line 216, ../../sass/common.scss */
.parts-needed {
  float: right;
  top: 0;
  right: 0;
  width: 25%;
  background-color: #eee;
  padding: .25em 1em .5em 1em;
  margin: 0 0 .5em 1em;
  font-size: .9em;
  border: 1px solid black;
}

/* line 228, ../../sass/common.scss */
.sidebar {
  float: right;
  width: 40%;
  padding-left: 1em;
}
/* line 233, ../../sass/common.scss */
.sidebar img {
  width: 100%;
}

/* line 238, ../../sass/common.scss */
#edition-picker {
  display: none;
}
